<!DOCTYPE html>
<html lang="pt-8">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/png" href="/img/logo.png" />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/styles.css" />
    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tropzz Três Pontas</title>
  </head>
  <body>
    <!-- <header>
      <div class="container-image-header"></div>
    </header> -->

    <div class="col-12">
      <div class="row">
        <!-- <div class="section">
          <div class="wave"></div>
          <div class="container-image-title"></div>
        </div> -->

        <div class="section-2 pt-5">
          <!-- <div class="wave-blue"></div> -->

          <div class="col-12 pt-5">
            <div class="text-center">
              <!-- <div class="flex">
                <div class="bol"></div>
                <div class="bol"></div>
                <div class="bol"></div>
              </div> -->

              <h5 class="text-section-2 pt-5 mt-5">
                O paraíso tropical <br />
                está chegando em
              </h5>
              <h1 class="title-yellow">Três Pontas!</h1>
              <div class="content-ilha"></div>
              <div class="date-event col-12 col-sm-12 col-md-12">
                <div>
                  <h5 class="date-week">SÁBADO</h5>
                  <h1 class="date">02/10</h1>
                  <h5 class="text-inauguration">
                    UMA INAUGURAÇÃO<br />CHEIA DE ATRAÇÕES
                  </h5>
                </div>
                <div class="container mt-6">
                  <h5 class="more-info">
                    <a
                      target="_blank"
                      href="https://www.instagram.com/novidadetrespontas/"
                      class="maps"
                      >saiba mais</a
                    >
                  </h5>
                </div>
              </div>
              <div class="container">
                <h2 class="text-doe pb-5 pt-4">doe e ganhe*</h2>
                <h3 class="date text-md-end pt-sm-5">seu primeiro tropzz</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="section-3">
          <div class="section-pink">
            <h5 class="text-center more-info text-markdown">
              VAMOS FAZER O BEM JUNTOS?
            </h5>
          </div>

          <div class="container margin-n">
            <div class="col-12 pb-5">
              <h3 class="date text-center">
                1.000 tropzz <br />
                grátis para <br />
                Três pontas.
              </h3>
            </div>
            <div class="col-12 pb-5 mb-5">
              <div class="col-12 d-flex align-flex-end justify-content-center">
                <div class="col-6">
                  <h5 class="more-info bold ps-5">
                    troque <br />1kg de alimento
                  </h5>
                </div>
                <div class="pointer col-6 text-right">
                  <img src="/img/seta-amerela.png" alt="" width="50%" />
                </div>
              </div>
              <div class="d-flex justify-space-around col-12">
                <div class="img col-6">
                  <img class="acai" src="/img/açai-gratis.png" alt="" />
                </div>
                <div class="flex-end align-self-center col-6">
                  <div class="image">
                    <img src="/img/açai-circulo.png" alt="" width="100%" />
                  </div>
                  <!-- <h5 class="more-info bold text-center">por um</h5>
                  <h3 class="acai text-center">açaí</h3> -->
                  <!-- <div class="img-circle">
                <img src="/img/circle.png" alt="" />
              </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-4 align-self-center">
          <div class="container bold">
            <div>
              <div class="wave-white"></div>
            </div>
            <div class="text-center col-12 col-lg-10 m-lg-auto pb-5">
              <h5 class="color-purple">
                Estaremos com estande em <br />
                supermercados da cidade.
              </h5>
              <br />
              <h5 class="color-blue">
                Doe a partir de 1kg de alimento e ganhe 1 voucher para trocar
                por 1 açaí 300ml + 5 adicionais na semana de inauguração.
                Consulte programação nas redes sociais @tropzztrespontas.
              </h5>
              <br />
              <h5 class="color-purple">Doações destinadas á xxxx</h5>
            </div>
            <div class="col-12 col-lg-10 m-lg-auto pt-5">
              <div class="d-flex img-responsive">
                <div class="">
                  <h2 class="dj">festinha</h2>
                  <h2 class="dj">promo</h2>
                  <h2 class="dj dj-1">dj</h2>
                </div>
                <div class="image dj-gustavo">
                  <img src="/img/dj-gustavo-pio.png" alt="" width="100%" />
                </div>
              </div>
            </div>
          </div>
          <div class="image date-event pb-5 mb-5">
            <img src="/img/imagem-inauguraçao.png" alt="" width="60%" />
          </div>
        </div>
        <div class="section-5">
          <div class="wave-ciano"></div>

          <div class="container ciano position-relative">
            <div class="image text-sm-left text-center">
              <img src="/img/promocaoPote.png" alt="" width="80%" />
            </div>
            <div class="col-12 d-flex">
              <div class="col-0 p-0 col-lg-8"></div>
              <div class="col-12 col-lg-4">
                <h5 class="text-left date position-relative promocao">
                  no dia 02/10 durante a inauguração da Tropzz Três Pontas,
                  encha o pote de açaí de 300ml com o que quiser dos adicionais
                  da bancada por apenas R$9,99.
                </h5>
              </div>
            </div>
            <div class="col-12">
              <div
                class="image text-center pb-5 mb-5"
                data-toggle="modal"
                data-target="#ExemploModalCentralizado"
              >
                <img src="/img/botao-cupom.png" alt="" width="70%" />
              </div>
            </div>
          </div>
        </div>
        <div class="section-6">
          <div>
            <div class="wave-white"></div>
          </div>
          <div class="container">
            <div class="text-center">
              <h5 class="color-pink">como assim</h5>
              <h3 class="color-pink paraiso">Paraíso Tropical??</h3>
              <div class="col-12 mt-3 pt-8">
                <h6 class="color-purple">Chega aqui que eu vou explicar...</h6>
                <div
                  class="
                    col-10 col-sm-12
                    text-left
                    justify-content-center
                    m-auto
                  "
                >
                  <br />
                  <p class="color-purple explicacao">
                    É brincar no balanço do jardim de mãos dadas com o crush,
                    navegar de canoa em um lago paradisíaco... É tipo as cores
                    da primavera, os pássaros cantando... Sabe? Sabe aquela
                    sensação gostosa de ser abraçado por quem a gente gosta?
                    Então... É tipo isso. Entendeu não? Ah, então é só vindo
                    mesmo pra sentir com todos os sentidos essa delícia que é
                    estar na Tropzz!
                  </p>
                  <div
                    class="
                      image
                      d-flex
                      justify-content-end
                      position-relative
                      yogo
                    "
                  >
                    <img src="/img/yogo.png" alt="" width="60%" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="image">
            <img src="/img/momento-tropical.png" alt="" width="100%" />
          </div>
        </div>
        <div class="section-7">
          <img
            src="/img/onda-roxa.png"
            alt=""
            width="100%"
            class="image-onda-roxa"
          />
          <div class="container position-relative bottom">
            <div class="folhas col-12 flex">
              <div class="col-4 shake text-center">
                <h5 class="color-white">
                  Várias delícias para você e seu clã curtirem muito!
                </h5>
              </div>
              <div class="col-8">
                <div class="image">
                  <img src="/img/shakemorango.png" alt="" width="100%" />
                </div>
              </div>
            </div>
            <div class="col-12 text-center pb-3 mb-3">
              <h5 class="servicos color-white">
                Açaí Expresso . YogoFrozen <br />
                Sorvete Artesanal . Cremes <br />
                . Tropzz Shakes . Paletas <br />
                Paletas . Picolés . Adicionais
              </h5>
            </div>
            <div class="container d-flex justify-content-center">
              <div class="col-12 col-md-10 flex">
                <div class="col-8">
                  <div class="col-md-8 col-12 date-mark">
                    <h5 class="color-yellow">
                      Sábado, 02 de Outubro temos um encontro marcado.
                    </h5>
                  </div>
                </div>
                <div class="col-4">
                  <div class="image">
                    <img src="/img/emoji-boca-aberta.png" alt="" width="100%" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 pb-5 margin-15">
              <div class="image text-center">
                <img src="/img/estamos-chegando.png" alt="" width="80%" />
              </div>
            </div>
          </div>
        </div>
        <div class="section-8">
          <div class="wave-white"></div>
          <div class="image text-center position-relative image-loja">
            <img src="/img/loja.png" alt="" width="60%" />
          </div>
          <div class="col-12 col-xl-10 text-center m-xl-auto pb-5">
            <h5 class="color-purple">novidades à mil</h5>
            <h3 class="color-pink">no nosso insta!</h3>
            <div class="d-flex text-center justify-content-center">
              <img
                src="/img/instagram.png"
                alt=""
                width="70"
                height="70"
                class="insta"
              />
              <h5 class="color-purple">@novidadetrespontas</h5>
            </div>
          </div>
        </div>
        <div class="section-9">
          <div class="container-image">
            <!-- <div class="wave-white"></div> -->
          </div>
          <div class="row position-relative name-tropzz mb-5 pb-5">
            <div class="wrapper">
              <div class="marquee">
                <h3 class="color-none tropzz">tropzz.tropzz.tropzz.</h3>
                <h3 class="color-none tropzz">tropzz.tropzz.tropzz</h3>
                <h3 class="color-none tropzz">tropzz.tropzz.tropzz</h3>
                <h3 class="color-none tropzz">tropzz.tropzz.tropzz</h3>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="col-12 col-xl-10 m-auto pb-5">
              <div class="image text-center">
                <img src="/img/ilha-meninas.png" alt="" width="70%" />
              </div>
              <div class="d-flex col-12 align-items-center">
                <div class="col-8 col-md-6 chama text-right">
                  <h5 class="chama-no">Chama no</h5>
                </div>
                <div class="col-4 col-md-6">
                  <img
                    src="/img/emoji-oculos.png"
                    class="emoji"
                    alt=""
                    width="50%"
                  />
                </div>
              </div>

              <div class="col-12 text-center position-relative contatinho">
                <h3 class="color-white contatinho-bb">contatinho, bb!</h3>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="col-12 col-xl-10 m-auto pt-8 ps-8">
              <div class="image">
                <img src="/img/logo.png" alt="" width="30%" />
              </div>
            </div>
            <div class="col-12 col-xl-10 m-auto d-flex">
              <div class="col-8">
                <div class="text pb-5 mb-5">
                  <h5 class="color-white">Aqui em 3 Pontas</h5>
                  <p class="font-50 no-bold">
                    Rua Azarias de <br />
                    Brito Sobrinho, n 15 / em frente a praça Cônego Vitor <br />
                    Três Pontas - MG
                  </p>
                </div>
              </div>
              <div class="col-4">
                <div class="text pb-5">
                  <h5 class="color-white day">seg - sex</h5>
                  <p class="no-bold font-50">10h às 22h</p>
                  <h5 class="color-white day">sáb - dom</h5>
                  <p class="no-bold font-50">10h às 22h</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-10 m-auto d-flex">
              <div class="col-8">
                <div class="d-flex">
                  <img
                    src="/img/maps-and-flags.png"
                    alt=""
                    width="10%"
                    height="100%"
                  />
                  <a
                    href="https://goo.gl/maps/QCJq8rTAqd5DVb4L7"
                    target="_blank"
                    class="maps"
                    >Abrir no mapa</a
                  >
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex">
                  <a
                    href="https://www.instagram.com/novidadetrespontas/"
                    class="maps"
                    target="_blank"
                  >
                    <img
                      src="/img/instagram (2).png"
                      alt=""
                      class="pe-4 pe-sm-1 insta"
                    />
                  </a>
                  <a
                    href="https://www.facebook.com/novidadeemtrespontas/?ref=pages_you_manage"
                    class="maps"
                    target="_blank"
                  >
                    <img
                      src="/img/facebook.png"
                      alt=""
                      class="pe-4 pe-sm-1 insta"
                    />
                  </a>
                  <a href="#" class="maps" target="_blank">
                    <img
                      src="/img/whatsapp.png"
                      alt=""
                      class="pe-4 pe-sm-1 insta"
                      width="100%"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 pt-5 mt-5">
              <div class="flex">
                <div class="bol"></div>
                <div class="bol"></div>
                <div class="bol"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="ExemploModalCentralizado"
      tabindex="-1"
      role="dialog"
      aria-labelledby="TituloModalCentralizado"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">
              Preencha os dados
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Fechar"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="capture-lead">
              <div class="col-12 pb-3">
                <div class="form__group field">
                  <input
                    type="input"
                    class="form__field"
                    placeholder="Name"
                    name="name"
                    id="name"
                    required
                  />
                  <label for="name" class="form__label">Nome</label>
                </div>
              </div>
              <div class="col-12 pb-5">
                <div class="form__group field">
                  <input
                    type="input"
                    class="form__field"
                    placeholder="Telefone"
                    name="telefone"
                    id="telefone"
                    required
                  />
                  <label for="telefone" class="form__label">Telefone</label>
                </div>
              </div>

              <button
                class="btn btn-primary"
                id="sendSubmit"
                data-toggle="modal"
                
          
                
                data-target="#exemploModal"
              >
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="exemploModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="TituloModalCentralizado"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-cupom">
          <!-- <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">
            sdffsdsdfsdf
            </h5>
          </div> -->
          <div class="container text-right">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Fechar"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <div class="image">
              <img src="/img/parabens.png" alt="" width="80%" />
            </div>
            <div class="image pt-5 mb-5">
              <img src="/img/simbolo-cupom.png" alt="" width="80%" />
            </div>
            <div class="text-center mb-5 pb-5">
              <h5 class="color-white">
                basta apresentar o print dessa tela no caiza, tutupon?
              </h5>
            </div>
            <div class="image">
              <img src="/img/logo.png" alt="" width="50%" />
            </div>
            <div class="text-center">
              <h4 class="color-white"> válido até dia 21/10/2021</h4>
            </div>
           
          

          </div>
        </div>
      </div>
    </div>

    <div class="float" data-toggle="modal" data-target="#ExemploModalCentralizado">
      <img src="/img/botao-cupom.png" alt="" width="100%" />
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <!-- <script src="/js/home.js"></script> -->
    <script>
      $("form").on("submit", (e) => {
        e.preventDefault();

        let name = $("#name").val();
        let telefone = $("#telefone").val();

        const html = `
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" style="width:100%;font-family:roboto, 'helvetica neue', helvetica, arial, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0">
 <head> 
  <meta charset="UTF-8"> 
  <meta content="width=device-width, initial-scale=1" name="viewport"> 
  <meta name="x-apple-disable-message-reformatting"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta content="telephone=no" name="format-detection"> 
  <title>Novo e-mail</title> 
  <!--[if (mso 16)]>
    <style type="text/css">
    a {text-decoration: none;}
    </style>
    <![endif]--> 
  <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]--> 
  <!--[if gte mso 9]>
<xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG></o:AllowPNG>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
</xml>
<![endif]--> 
  <!--[if !mso]><!-- --> 
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet"> 
  <!--<![endif]--> 
  <style type="text/css">
.rollover:hover .rollover-first {
	max-height:0px!important;
	display:none!important;
}
.rollover:hover .rollover-second {
	max-height:none!important;
	display:block!important;
}
#outlook a {
	padding:0;
}
.ExternalClass {
	width:100%;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
	line-height:100%;
}
.es-button {
	mso-style-priority:100!important;
	text-decoration:none!important;
}
a[x-apple-data-detectors] {
	color:inherit!important;
	text-decoration:none!important;
	font-size:inherit!important;
	font-family:inherit!important;
	font-weight:inherit!important;
	line-height:inherit!important;
}
.es-desk-hidden {
	display:none;
	float:left;
	overflow:hidden;
	width:0;
	max-height:0;
	line-height:0;
	mso-hide:all;
}
.es-button-border:hover {
	border-style:solid solid solid solid!important;
	background:#d6a700!important;
	border-color:#42d159 #42d159 #42d159 #42d159!important;
}
[data-ogsb] .es-button {
	border-width:0!important;
	padding:10px 20px 10px 20px!important;
}
@media only screen and (max-device-width:600px) {
    .es-content table,
    .es-header table,
    .es-footer table {
        width:100%!important;
        max-width:600px!important;
    }
}
@media only screen and (max-width:600px) {p, ul li, ol li, a { line-height:150%!important } h1, h2, h3, h1 a, h2 a, h3 a { line-height:120%!important } h1 { font-size:30px!important; text-align:center } h2 { font-size:26px!important; text-align:center } h3 { font-size:20px!important; text-align:center } .st-br { padding-left:10px!important; padding-right:10px!important } h1 a { text-align:center } .es-header-body h1 a, .es-content-body h1 a, .es-footer-body h1 a { font-size:30px!important } h2 a { text-align:center } .es-header-body h2 a, .es-content-body h2 a, .es-footer-body h2 a { font-size:26px!important } h3 a { text-align:center } .es-header-body h3 a, .es-content-body h3 a, .es-footer-body h3 a { font-size:20px!important } .es-menu td a { font-size:14px!important } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size:16px!important } .es-content-body p, .es-content-body ul li, .es-content-body ol li, .es-content-body a { font-size:16px!important } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size:14px!important } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size:12px!important } *[class="gmail-fix"] { display:none!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align:right!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-button-border { display:block!important } .es-btn-fw { border-width:10px 0px!important; text-align:center!important } .es-adaptive table, .es-btn-fw, .es-btn-fw-brdr, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .es-adapt-td { display:block!important; width:100%!important } .adapt-img { width:100%!important; height:auto!important } .es-m-p0 { padding:0px!important } .es-m-p0r { padding-right:0px!important } .es-m-p0l { padding-left:0px!important } .es-m-p0t { padding-top:0px!important } .es-m-p0b { padding-bottom:0!important } .es-m-p20b { padding-bottom:20px!important } .es-mobile-hidden, .es-hidden { display:none!important } tr.es-desk-hidden, td.es-desk-hidden, table.es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } table.es-social { display:inline-block!important } table.es-social td { display:inline-block!important } a.es-button, button.es-button { font-size:16px!important; display:block!important; border-left-width:0px!important; border-right-width:0px!important } }
</style> 
 </head> 
 <body style="width:100%;font-family:roboto, 'helvetica neue', helvetica, arial, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0"> 
  <div class="es-wrapper-color" style="background-color:#F6F6F6"> 
   <!--[if gte mso 9]>
			<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
				<v:fill type="tile" color="#f6f6f6"></v:fill>
			</v:background>
		<![endif]--> 
   <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top"> 
     <tr style="border-collapse:collapse"> 
      <td class="st-br" valign="top" style="padding:0;Margin:0"> 
       <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
         <tr style="border-collapse:collapse"> 
          <td style="padding:0;Margin:0;background-color:transparent" bgcolor="transparent" align="center"> 
           <table class="es-content-body" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px" cellspacing="0" cellpadding="0" bgcolor="transparent" align="center"> 
             <tr style="border-collapse:collapse"> 
              <td style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:30px;padding-right:30px;border-radius:0px 0px 10px 10px;background-color:#ffffff" align="left"> 
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                 <tr style="border-collapse:collapse"> 
                  <td valign="top" align="center" style="padding:0;Margin:0;width:540px"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tr style="border-collapse:collapse"> 
                      <td class="es-m-txt-c" style="padding:0;Margin:0;font-size:0px" align="center"><img src="https://emumml.stripocdn.email/content/guids/CABINET_3bfb31b329fe6d194579a75b6be203dc/images/79121606930171016.png" alt style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="100"></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
               </table></td> 
             </tr> 
           </table></td> 
         </tr> 
       </table> 
       <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
         <tr style="border-collapse:collapse"> 
          <td align="center" style="padding:0;Margin:0"> 
           <table class="es-content-body" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px" cellspacing="0" cellpadding="0" bgcolor="transparent" align="center"> 
             <tr style="border-collapse:collapse"> 
              <td style="Margin:0;padding-bottom:10px;padding-top:30px;padding-left:30px;padding-right:30px;border-radius:10px 10px 0px 0px;background-position:left bottom;background-color:#ffffff" bgcolor="#ffffff" align="left"> 
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                 <tr style="border-collapse:collapse"> 
                  <td valign="top" align="center" style="padding:0;Margin:0;width:540px"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tr style="border-collapse:collapse"> 
                      <td class="es-m-txt-c" align="center" style="padding:0;Margin:0;padding-top:10px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;line-height:33px;color:#555555;font-size:22px"><strong>Novo cupom Tropzz Três Pontas</strong></p></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
                 <tr style="border-collapse:collapse"> 
                  <td valign="top" align="center" style="padding:0;Margin:0;width:540px"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tr style="border-collapse:collapse"> 
                      <td class="es-m-txt-c" align="center" style="padding:0;Margin:0;padding-top:25px;padding-left:40px;padding-right:40px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;line-height:26px;color:#555555;font-size:17px"><br>Nome: ${name}<br>Telefone: ${telefone}<br></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;line-height:26px;color:#555555;font-size:17px">&nbsp;<br><br></p></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
                 <tr style="border-collapse:collapse"> 
                  <td valign="top" align="center" style="padding:0;Margin:0;width:540px"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tr style="border-collapse:collapse"> 
                      <td class="es-m-txt-c" align="center" style="padding:0;Margin:0;padding-top:40px;padding-left:40px;padding-right:40px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;line-height:26px;color:#555555;font-size:17px">Equipe<br>TROPZZ&nbsp;😉<br></p></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
               </table></td> 
             </tr> 
             <tr style="border-collapse:collapse"> 
              <td style="padding:0;Margin:0;padding-left:20px;padding-right:20px;background-position:left bottom" align="left"> 
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                 <tr style="border-collapse:collapse"> 
                  <td valign="top" align="center" style="padding:0;Margin:0;width:560px"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tr style="border-collapse:collapse"> 
                      <td height="40" align="center" style="padding:0;Margin:0"></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
               </table></td> 
             </tr> 
             <tr style="border-collapse:collapse"> 
              <td align="left" style="padding:0;Margin:0"> 
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                 <tr style="border-collapse:collapse"> 
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tr style="border-collapse:collapse"> 
                      <td height="20" bgcolor="#fafafa" align="center" style="padding:0;Margin:0"></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
               </table></td> 
             </tr> 
           </table></td> 
         </tr> 
       </table> 
       <table class="es-footer" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:#F6F6F6;background-repeat:repeat;background-position:center top"> 
         <tr style="border-collapse:collapse"> 
          <td style="padding:0;Margin:0;background-color:#555555" bgcolor="#555555" align="center"> 
           <table class="es-footer-body" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px"> 
             <tr style="border-collapse:collapse"> 
              <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:30px;padding-right:30px"> 
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                 <tr style="border-collapse:collapse"> 
                  <td valign="top" align="center" style="padding:0;Margin:0;width:540px"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:roboto, 'helvetica neue', helvetica, arial, sans-serif;line-height:13px;color:#ffffff;font-size:11px"><em>Copyright © Alexia Kattah, All rights reserved.</em></p></td> 
                     </tr> 
                     <tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:roboto, 'helvetica neue', helvetica, arial, sans-serif;line-height:13px;color:#ffffff;font-size:11px">www.tropzz.com.br</p></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
                 <tr style="border-collapse:collapse"> 
                  <td valign="top" align="center" style="padding:0;Margin:0;width:540px"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                     <tr style="border-collapse:collapse"> 
                      <td align="center" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:roboto, 'helvetica neue', helvetica, arial, sans-serif;line-height:19px;color:#131313;font-size:16px"><br><br><br><br></p></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
               </table></td> 
             </tr> 
           </table></td> 
         </tr> 
       </table></td> 
     </tr> 
   </table> 
  </div>  
 </body>
</html>
  `;
        const data = {
          from: "LP Três Pontas <noreply@tropzz.com.br>",
          // to: "Tropzz Tres Pontas <noreply@tropzz.com.br>",
          to: "alexiakattah@gmail.com",
          subject: "Cadastro de cupom Tropzz tres pontas",
          html,
        };
        $.post("/send", data, (response) => {
          console.log("Data:", response);
        });
      
      });
    </script>
  </body>
</html>
